train/
test/
edge_aistpp/
dataset_backups/
runs/
wandb/
renders/
.ipynb_checkpoints/
__pycache__/
*.gif
*.mp4
*.pkl
*.pt
*.npy
*.zip
cached_feature/
custom_music/
lrc/

lyric/datasets/
lyric/checkpoints/
lyric/results/
lyric/deps/